html,

*{
    font-family: "Arial Nova";
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 110%;
    background-image: url("../../images/Rentre_scolaire.jpg");
    background-position: top;
    background-size: 100%;
    width: 150%;

}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    opacity: 0.80;
    background-color: white;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input{
    text-align: left;
    list-style-type: circle;
}

#inscription{
    color: darkblue;
    font-size: 1em;
}

#button_creation{
    position: relative;
    left:25%;
    color: #34ce57;
}

::placeholder{
    text-align: center;
}

#title
{
    color:darkblue;
    text-align: center;
}

label{
    font-size: 0.9em;
}

ul{
    list-style-type: none;
}
